footer{
    width:100vw;
    height:60vh;
    position: relative;
    .bg-overlay{
        @include OVERLAY-F;
        opacity:0.9;
    }

    .main-content-footer{
        @include OVERLAY-F;
        padding: $section-padding-n;
        display:flex;
        flex-direction:column;

        .social-media{
            position: relative;
            &:before{
                position:absolute;
                content:"";
                width:100%;
                height:1px;
                top:50%;
                left: -100%;
                transform: translateY(-50%);
            }
            i{
                    font-size:1rem;
                    margin-left:2rem;
            }
        
        }
        .footer-main{
            flex-grow:1;
            padding:2.5rem;
            text-align:center;
            .footer-btn{
                @include FLEXBOX(space-between, center);
                width:350px;
                margin-right:auto;
                margin-left:auto;
            }
            .mode-switch{
                padding:2rem;
                text-align:right;
                input{
                    visibility:hidden;
                }
                #dark:checked {
                    ~.toggle-btn{
                        color:$primary-red;
                    }
                    &~.toggle-btn:before{
                    transform: translate3d(35px, 0, 0);
                    }
                    &~.toggle-btn:after{
                        background:$primary-red;
                    }
                }
                .toggle-btn{
                    width:150px;
                    margin-right:auto;
                    margin-left:auto;
                    position:relative;
                    color:#cccccc;
                    font-size:0.9;
                    &:after{
                        position:absolute;
                        content:"";
                        background:#cccccc;
                        right:-80px;
                        bottom:0;
                        width:70px;
                        height:35px;
                        border-radius: 36px;
                    }
                    &:before{
                        position:absolute;
                        content:"";
                        background:white;;;
                        height:30px;
                        width:30px;
                        right:-42.5px;
                        bottom:2.5px;
                        border-radius:50%;
                        z-index:1;
                        transition: all 0.5s;
                    }
            }
            
            }
            #back-to-top{
                padding:0.6rem 1rem;
                background:none;
                outline:none;
                font-size:0.9rem;
                border-radius:5px;
                cursor: pointer;
            }


            img{
                width:100px;
                height:100px;
                border-radius:50%;
            }  
               
            }
        
        .footer-footer{
            text-align:right;
            position:relative;
            &:after{
                position:absolute;
                content:"";
                width:100%;
                height:1px;
                background: white;
                top:50%;
                right:-100%;
            }
            span{
                margin-right:2rem;
                font-size:0.8rem;
            }
        }
    }
}

.loaded{
    &.main-content-footer{
        *{
            opacity:0;
            animation: fadeIn 2s forwards;
        }
        .social-media{
            transform: translate3d(-10rem, 0, 0);
        }
        .footer-footer{
            transform: translate3d(10rem, 0, 0);
        }
        .footer-main{
            transform: translate3d(0, 5rem, 0);
        
        }
    }
}
