.section-hero{
    width:100vw;
    height:100vh;
    position: relative;
    background: url('../images/bg.jpg') no-repeat;
    background-size:cover;
    background-position: left center;
    background-attachment: fixed;
    overflow: hidden;

    .bg-overlay{
        opacity:0.7;
        @include OVERLAY-F;
        z-index:9;
    }

    .main-content-hero{
       @include OVERLAY-C;
       height:100%;
       @include FLEXBOX(center, flex-start);
       flex-direction: column;
        z-index:10;

        .sub-heading{
            padding:0 5rem;
            opacity:0;
            transform: translate3d(0, 2rem, 0);

        }

        .heading{
            @include FLEXBOX(center, center);
            padding: 2rem 2rem;
            position:relative;
            h1{
                opacity:0;
            }
            &:before{
                position:absolute;
                content:"";
                width:0%;
                height:1px;
                background: $main-text;
                bottom:0;
                left:50%;
                transform: translateX(-50%);
                opacity:0;
            }
            &:after{
                position:absolute;
                content:"";
                height:0;
                width:1px;
                background: $main-text;
                top:100%;
                left:50%;
                transform: translateX(-50%);
                opacity:0;
            }
        }       
    }
}

.loaded{
    &.main-content-hero{
        .sub-heading{
            animation: fadeIn 1s forwards;
        }
        h1{
            animation: fadeIn 0.5s forwards;
            animation-delay:1s;
        }
        @for $i from 1 through 16{
            h1:nth-child(#{$i}){
                animation-delay:  0.2s * $i ;
            }
        } 
        .heading:before{
            animation: extend-50 1s forwards;
            animation-delay:3.5s;
        }   
        .heading:after{
            animation: extend-v-50 1s forwards;
            animation-delay:4.5s;
        }
}
}
