.section-my-work{
    width:100vw;
    height:120vh;
    position:relative;
    .section-my-work-heading{
        text-align:center;
    }

    .main-content-my-work{
        @include OVERLAY-C;
        width:100vw;
        
        .my-work-container
        {
            width:100%;
            padding:0.2rem;
            display:grid;
        
        }
        .my-work-card{
            border-radius: 5px;
            padding: 1.5rem 2rem;

            .my-work-heading{
                @include FLEXBOX(space-between, flex-end);
                width:100%;
                i:first-child{
                    flex:1;
                }
                a{
                    margin:0.5rem;
                }
            }
            .my-work-title{   
                margin-top:1rem;     
              
                .work-image{
                    margin: 1rem 0;
                    img{
                        width:100%;
                    }
                }
            }
        }
  
        .my-work-cta{
            width:100%;
            padding: 1rem 12%;
            text-align: right;
        }
    }
}

.loaded{
    &.main-content-my-work{
        
        .section-my-work-heading{
            transform: translate3d(0, -3rem, 0);
        }
        #my-work-1{
            transform: translate3d(-3rem, 0, 0);
            animation-delay:0.5s;
        }
        #my-work-2{
            transform: translate3d(0, 100px, 0) scale(1.1);
            z-index:3;
            animation-delay:0.8s;
        }
        #my-work-3{
            transform: translate3d(3rem, 0, 0);
            animation-delay:0.5s;
        } 
        *{
            opacity:0;
            animation: fadeIn 1s linear forwards;
        }   
    }
}
