nav{
    width:100%;
    height: $nav-size;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    line-height:$nav-size;
    padding:0 8%;

    .nav-links{
        width: 100%;
        max-width:700px;
        height:100%;
        margin-right:auto;
        margin-left:auto;
        @include FLEXBOX(space-between, center);
        a{
            padding: 0 1.5rem;
    
        }
        .active{
            position: relative;
        }
            .active:after{
                position:absolute;
                content: "";
                width:0%;
                height:3px;
                background: $primary-red;
                bottom:0;
                left:0;
                animation: extend-100 1s linear forwards;
            }
        }  
    }