nav{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    line-height:$nav-size;
    padding:0 8%;

    @media(max-width:766px){
        height:90px;
        padding:1rem 8%;
    }

    @media(min-width:767px){
        height: $nav-size;
    }

    .nav-links{
        margin-right:auto;
        margin-left:auto;
        @include FLEXBOX(space-between, center);
        max-width:700px;
        a{
            padding: 0 1.5rem;
    
        }
        .active{
            position: relative;
        }
            .active:after{
                position:absolute;
                content: "";
                width:0%;
                height:3px;
                background: $primary-red;
                bottom:0;
                left:0;
                animation: extend-100 1s linear forwards;
            }
        }  
    }