.section-skills{
    width:100vw;
    height:150vh;
    background: url('../images/bg.jpg') no-repeat;
    background-position:left;
    background-size:cover;
    background-attachment:fixed;
    position:relative;

    .bg-overlay{
        @include OVERLAY-F;
        opacity:0.8;
      
    }
    .main-content-skills{
        @include OVERLAY-C;
        width:100vw;
        z-index:10;
        padding: $section-padding-w;
        display:grid;
        grid-gap:1rem;

        h4{
            i{
                font-size:2rem;
                color: $primary-yellow-light;
                margin-right:1rem;
            }
        }
        
        #computer-languages{
            grid-area: computer-languages;
            padding:2rem;
            text-align: center;
        }
        #human-languages{
            grid-area: human-languages;
            padding:2rem;
        }
        #education{
            grid-area: education;
            padding:2rem;
        }
        ul{
            @include FLEXBOX(center, center);
            flex-wrap:wrap;
        }
        
        .computer-languages{
            li{
            
                list-style: none;
                @include FLEXBOX(center, center);
              
            }
        }
        .human-languages, .education{
            list-style:none;
            @include FLEXBOX(flex-start, flex-start);
            font-size:1rem;
            
        }
    }
}

.loaded{
    &.main-content-skills{
       
        #computer-languages{
            transform: translate3d(0,3rem,0);
            *{
                @for $i from 1 through 20{
                    &:nth-child(#{$i}){
                        animation-delay: 0.2s * $i;
                        transform: translate3d(0, 2rem,0);
                    }
                }
            }
        }
        #human-languages{
            animation-delay:1s;
            .human-languages{
                animation-delay:1s;
                *{
                    @for $i from 1 through 10{
                        &:nth-child(#{$i}){
                            animation-delay: 0.1s * $i;
                            transform: translate3d(-10rem, 0,0);
                        }
                    }
                }
            } 
        }
        #education{
            animation-delay:1s;
            .education{
                animation-delay:1s;
                *{
                    @for $i from 1 through 10{
                        &:nth-child(#{$i}){
                            animation-delay: 0.5s * $i;
                            transform: translate3d(10rem, 0,0);
                        }
                    }
                }
            }

        }
        *{
            opacity:0;
            animation: fadeIn 0.6s linear forwards;
        }
    }
}
