$main-dark: hsl(230, 17%, 14%);
$main-color: hsl(232, 19%, 15%);
$main-light: hsl(228, 28%, 20%);
$main-text: #efefef;

$light-gray: #7082BD;
$medium-gray: #3C4255;
$dark-gray: #151D53;

$main-font: 'Montserrat', sans-serif;

$dark-linear: linear-gradient(-135deg, $main-light, $dark-gray);

$primary-red: hsl(356, 69%, 56%);
$primary-brown: #A54A27;
$primary-green: #647E68;
$primary-yellow-light: #F18D47;
$primary-yellow: #D86E2B;

$nav-size: 40px;

$section-padding: 3rem 8%;
$section-padding-n: 3rem 12%;
$section-padding-w: 3rem 4%;

///////LIGHT MODE

$light-mode-main: #efefef;
$light-mode-text:hsl(228, 28%, 20%);

$light-linear:linear-gradient(-135deg, $main-text, #D3E2E2)