@import 'variables';
@import 'animation';
@import 'utilities';
@import 'icon';
@import 'mixins';
@import 'navbar';
@import 'hero';
@import 'about';
@import 'mywork';
@import 'skills';
@import 'footer';
@import 'dark';
@import 'light';

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body{
    font-family: $main-font;
    font-size:16px;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-size:1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px solid black;
}

button{
    border:none;
    outline:none;
}